@media only screen and (min-width: 864px) {

html {
    min-width: 100%;
    margin: 0;
}
body {
    font-size: 15px;
    margin-left: 10px;
}

h1 {
    color: hsl(300, 43%, 22%);
    font-family: Spartan;
    font-weight: 700;
    text-align: left;
    width: 250px;
}

h4 {
    color: hsl(333, 80%, 67%);
    line-height: 0.4;
    font-family: Spartan;
    font-weight: 400;
    padding-right: 10px;
    font-size: smaller;
}

h5 {
    display: inline-block;
    padding-left: 25px;
}

.main {
    display: flex;
}

.Name {
    color: hsl(0, 0%, 100%);
    font-family: Spartan;
    font-weight: 500;
}

.intro {
    color: hsl(303, 10%, 53%);
    font-family: Spartan;
    font-weight: 400;
    text-align: left;
    max-width: 449px;
    min-width:449px;

}
.in {
    display: grid;
}
.profile_image {
    border-radius: 50%;
    float: left;
    margin-bottom: 35px;
    margin-right: 20px;
    width: 20%;
    display: grid;
}

.star {
    padding-right: 5px;

}
.rating{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.star_icon {
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    padding: 15px 15px;
    max-width: 400px;
    min-width: 400px;
    max-height: 30px;
    min-height: 30px;
    font-family: Spartan;
    font-weight: 400;
    color: hsl(300, 43%, 22%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-p {
    color: hsl(0, 0%, 100%);
    font-family: Spartan;
    font-weight: 400;
    clear: left;
    padding-bottom: 50px;
}

.container {
    display: flex;
    margin-top: 50px;
}

.Colton,
.Irene,
.Anne {
    background-color: hsl(300, 43%, 22%);
    max-width: 335px;
    min-width: 335px;
    max-height: 150px;
    min-height: 150px;
    padding: 50px 50px 80px;
    border-radius: 6px;
    margin-top: 10px;
    display: inline-block;
}

#one {
    margin-left: 230px;
    margin-bottom: 10px;
}

#two {
    margin-left: 280px;
    margin-bottom: 10px;
}

#three {
    margin-left: 330px;
}

.Colton {
    margin-right: 15px;
}

.Irene {
    margin-top: 35px;
    margin-right: 15px;
}

.Anne {
    margin-top: 70px;
    margin-right: 15px;
}
}
@media only screen and (max-width: 863px) {
    html{
        width: 100%;
    }
    
    h1 {
        color: hsl(300, 43%, 22%);
        font-family: Spartan;
        font-weight: 700;
        text-align: center;
        width: 250px;
    }
    h4 {
        color: hsl(333, 80%, 67%);
        line-height: 0.4;
        font-family: Spartan;
        font-weight: 400;
        padding-right: 10px;
        font-size: smaller;
    }
    
    h5 {
       padding: 15px;
       margin-top: 0;
       margin-bottom: 0;
    }
    
    .intro{
        color: hsl(303, 10%, 53%);
        font-family: Spartan;
        font-weight: 400;
        text-align: center;
        width: 449px;
     
    }
    .in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .main{display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;}
    
    .star_icon {
        background-color: hsl(300, 24%, 96%);
        border-radius: 10px;
        font-family: Spartan;
        font-weight: 400;
        color: hsl(300, 43%, 22%);
        text-align: center;
        padding: 15px 15px;
        height: 50px;
    }
    .star {
        padding-right: 5px;
    
    }
    
    .Name {
        color: hsl(0, 0%, 100%);
        font-family: Spartan;
        font-weight: 500;
    }
    .details-p {
        color: hsl(0, 0%, 100%);
        font-family: Spartan;
        font-weight: 400;
        clear: left;
        padding-bottom: 50px;
    }
    .profile_image {
        border-radius: 50%;
        float: left;
        margin-bottom: 35px;
        margin-right: 20px;
        width: 20%;
        display: grid;
    }
    
    .Colton,
    .Irene,
    .Anne {
        background-color: hsl(300, 43%, 22%);
        max-width: 335px;
        min-width: 335px;
        max-height: 150px;
        min-height: 150px;
        padding: 50px 50px 80px;
        border-radius: 6px;
        margin-top: 10px;
    }
    .container{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;}
    #one,#two,#three{
        margin-top: 20px;
    
    }
}

